@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  background-color: #fff;
}
.nav .nav-wrap {
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-wrap .logo {
  flex-basis: 10%;
}
.nav .nav-wrap .navlist {
  flex-basis: 60%;
}
.nav .nav-wrap .navlist ul {
  display: flex;
  justify-content: space-around;
}
.nav .nav-wrap .navlist ul > li {
  flex-basis: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  position: relative;
}
.nav .nav-wrap .navlist ul > li:hover a {
  font-weight: bold;
}
.nav .nav-wrap .navlist ul > li::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #162c58;
  position: absolute;
  left: 0;
  bottom: -23px;
  transition: 0.5s;
}
.nav .nav-wrap .navlist ul > li:hover::after {
  width: 100%;
}
.nav .nav-wrap .glo-dark {
  flex-basis: 10%;
}
.nav .nav-wrap .glo-dark ul {
  display: flex;
}
.nav .nav-wrap .glo-dark ul li img {
  width: 30%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper > p {
  position: absolute;
  z-index: 999;
  color: #fff;
  font-size: 64px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 117px;
  letter-spacing: -3px;
  text-align: center;
  line-height: 75px;
}
.swiper > p span {
  font-weight: bold;
}
.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper::before {
  content: url("../image/cloud1.png");
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 99;
}

.swiper::after {
  content: url("../image/cloud2.png");
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 99;
}

:root {
  --swiper-theme-color: #fff;
}

.swiper-button-next {
  right: 360px;
}

.swiper-button-prev {
  left: 360px;
}

.content1 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
}
.content1 .content1-left {
  text-align: center;
}
.content1 .content1-left h1 {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 50px;
}
.content1 .content1-left p {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 30px;
}
.content1 .content1-right {
  position: relative;
}
.content1 .content1-right img:nth-last-child(1) {
  border-radius: 40px;
}
.content1 .content1-right img:not(:nth-last-child(1)) {
  position: absolute;
}
.content1 .content1-right img:nth-of-type(1) {
  width: 25%;
  left: -100px;
  z-index: -1;
}
.content1 .content1-right img:nth-of-type(2) {
  width: 10%;
  left: -170px;
  top: 50px;
}
.content1 .content1-right img:nth-of-type(3) {
  width: 15%;
  right: -150px;
  top: 50px;
}
.content1 .content1-right img:nth-of-type(4) {
  width: 30%;
  right: -140px;
  top: 150px;
  z-index: -1;
}
.content1 .content-bg {
  position: absolute;
  left: 0;
  bottom: -700px;
}

.content2 {
  background-color: #F7F0E4;
  margin-top: 155px;
  padding-top: 128px;
  padding-bottom: 335px;
  position: relative;
}
.content2 .content2-top {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 92px;
}
.content2 .content2-top ul {
  display: flex;
  justify-content: space-between;
}
.content2 .content2-top h1 {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 43px;
}
.content2 .content2-top h1 span {
  font-weight: bold;
}
.content2 .content2-top p {
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 30px;
}
.content2 .content2-top p span {
  font-weight: bold;
}
.content2 .content2-top button {
  background-color: #E75A56;
  color: #fff;
  border: 1px none #000;
  width: 440px;
  height: 80px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 93px;
}
.content2 .content2-bottom {
  width: 1200px;
  margin: 0 auto;
}

.content2::before {
  content: url("../image/cloud1.png");
  position: absolute;
  bottom: 0;
  left: 0;
}

.content2::after {
  content: url("../image/cloud2.png");
  position: absolute;
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=index-css.css.map */